
body{
	margin:0;
	padding:0;
}
table{
	   margin-left:10px;
	   text-align:;
}
ul#myNaw{
	width:100%;
	margin:;
	padding:3px;
}
ul#myNaw li{
	display:inline-block;
	padding:5px;
	font-family: 'Source Sans Pro', sans-serif;	
}
ul#myNaw li a{color:#333;
              text-decoration: none;
              font-size: 16px;
              font-weight: 900;
             }
             #logo_img{margin-top:7px;float:right;
             }
           #enterbutton{
           	width:70 ;
           	height: 35;
           	background-color: #5a74a1;
           	color:white;
           	border-radius: 9px;
           	border: 1px solid;
           	border-width: 0;
           	font-style: ;
           	font-size: 15;
           	margin-top: 3px;

           }
           #enterbutton:hover{
           	background-color: #454545;
           }
           #brl{
           white-space:nowrap;
           margin-bottom:0;
           margin-left: 20px;
           margin-top: 15px;
           border-color: grey;
       }
       .lang{
       	color:#5a74a1;
       }
       .lang:hover{
       	color:grey;
       }
       #underheader_line{
       	background-color: #5a74a1;
       	 min-height: 2px;
       	  width: 100%;
       	   padding-top: 0;
       }
       .borders{
       	width:350px;
		height:1000px;
		border:3px solid #5a74a1;
		border-radius: 9px;
		margin-left:20px; 
		margin-bottom:100px;
       }
       .bordersrightt{
       	width:550px;
		height:500px;
		border:3px solid #5a74a1;
		border-radius: 9px;
		 
		margin-top:20px;
		margin-right:20px;
        float: center;
        padding-left: 30px;
       }
       .bordersrightb{
       	width:550px;
		height:220px;
		border:3px solid #5a74a1;
		border-radius: 10px;
		margin-top:10px;
        padding-left: 0px;

       }
        .stprofile{
        	display: inline-block;
        	
        	margin-top: 20px;
        	margin-left: 17px;
        }
        #bigphoto{
        	width:250;
        	height:auto;
        	margin-left: 20px;
        	margin-top: 20px;
        }
        .maininfo{
        	margin-left:20px;

        }
        .no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
ul#list_footer{
	width:100%;
	margin:;
	padding-left:10px;
}
ul#list_footer li{
	display:inline-block;
	font-size: 17px;
	margin-top: 0;
	padding-left:5px;
	

}
ul#list_footer li a{
	color:#4b75a4;

}
ul#list_footer li a:hover{
	color:#333;
	text-decoration: none;
	
}

#progressBar {
  margin-left: 10px;
  position: relative;
  margin-bottom: 23px;
   margin-bottom: 23px;
}

#progressBar ul {
  margin:5px 0px;
  margin-bottom: -19px;
}

#progressBar ul li {
  display: inline-block;
  list-style-type: none;
  background: grey;
  margin-left: 0px;
  width: 25px;
  height: 7px;
}
